# ===============================
# Python / Virtual Environments
# ===============================
.venv/
__pycache__/
*.pyc
*.pyo

# ===============================
# OS / Editor files
# ===============================
.DS_Store
.vscode/

# ===============================
# Logs & generated outputs
# ===============================
outputs/
*.log

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
